extend base.pug

block content 
    .container-fluid.p-0
            .row.g-0
                .col-6.bg-warning(style="height:100vh")
                    .row 
                        .col-10.mx-auto.mt-5 
                            .card.mt-5
                                .card-body
                                    h2.h5.text-uppercase.text-muted.mb-3 Student Login 
                                    form.mt-2(action="/student/login", method="post")
                                        .mb-3 
                                            .form-floating 
                                                input.form-control(type="text",name="email",placeholder="enter email")
                                                label(for="") Email/Mobile No
                                        .mb-3 
                                            .form-floating 
                                                input.form-control(type="text",name="password",placeholder="enter password")
                                                label(for="") Password
                                        .mb-3 
                                            input.btn.btn-success.w-100(type="submit", value="Login")
                   

                .col-6(style="height:100vh").bg-dark
                    include nav.pug
                        
                        
