extends base.pug

block content
    .container.mt-5
        .row 
            .col-3 
                .card 
                    img.card-img-top(src="https://th.bing.com/th/id/OIP.i_1f7CqIL7kr4oHugT7QvgAAAA?pid=ImgDet&rs=1", alt="")
                    .card-body 
                        h2.card-title.h5=student.name 
                        h6=student.email 
            .col-9 
                .container.bg-secondary.text-white.p-5.rounded 
                    h1.display-3 Welcome, #{student.name}
                        span.h2  in Cws Coaching 
                    p.lead Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores praesentium quis assumenda iusto nulla consequatur quia nobis sed sit, tempore, quae quo iure? Possimus, rerum aut? Enim autem quasi debitis!
                    a.btn.btn-danger(href="") Getting Started
                .row 
                    .col-4 
                        .card.mt-2.border-warning
                            .card-body 
                                h1.h4 Manage Course 
                                a.btn.btn-danger(href="/student/course/manage") Manage  
                                a.btn.btn-success.ms-2(href="/student/course/add") Add  
                    .col-4 
                        .card.mt-2.border-success
                            .card-body 
                                h1.h4 Manage Payment 
                                a.btn.btn-danger(href="") Manage  
                                a.btn.btn-success.ms-2(href="") Add  
                    .col-4 
                        .card.mt-2.border-danger
                            .card-body 
                                h1.h4 Manage Profile 
                                a.btn.btn-dark(href="") Manage  
                                a.btn.btn-success.ms-2(href="") Add  
            
