extend base.pug 

block content 
    .container 
        .row.mb-3
            .col-8 
                h4.mt-1 Insert Course 
            .col-4 
                a.btn.btn-warning.float-end(href="",data-bs-toggle="modal",data-bs-target="#insertCat") Create new Category
        .card 
            .card-body 
                form(action="",method="post")
                    .row 
                        .mb-3.col
                            label(for="") Name 
                            input.form-control(type="text",name="name")
                        .mb-3.col 
                            label(for="") Instructor 
                            input.form-control(type="text",name="instructor")
                        .mb-3.col 
                            label(for="") Duration
                            input.form-control(type="text",name="duration")
                    .row 
                        .mb-3.col 
                            label(for="") price
                            input.form-control(type="text",name="price")
                        .mb-3.col 
                            label(for="") discount Price
                            input.form-control(type="text",name="discount_price")
                        .mb-3.col 
                            label(for="") Category
                            select.form-select(name="category_id")
                                each x in category
                                    option(value=`${x._id}`)=x.cat_title 
                    .mb-3 
                        label(for="") description
                        textarea.form-control(name="description",rows="10")
                    .mb-3 
                        input.btn.btn-success.w-100(type="submit", value="Insert Course")
    .modal.fade#insertCat
        .modal-dialog 
            .modal-content 
                .modal-header 
                    h6 Insert Category Here 
                .modal-body 
                    form(action="/admin/insert-course-category",method="post")
                        .mb-3 
                            label(for="") Name 
                            input.form-control(type="text",name="cat_title")
                        .mb-3 
                            label(for="") description
                            textarea.form-control(name="cat_description")
                        .mb-3 
                            input.btn.btn-success(type="submit",value="Insert Category")
